:root{
--baground:#7ed0f6;
--input:#cbf2f5;
--send:#97cbe0;
--message_delete:#8bc3e8;
--family: 'Satisfy', cursive;
}
body{margin: 0;
    padding: 0;
    background-color:var(--baground);
    color: #100a05;
   user-select: none; 
   font-family: var(--family);
}

html{
    margin: 0;
    padding: 0;
    background-color:var(--baground);
   user-select: none; 
   font-family:var(--family);
}

.container {
    padding: 34px;
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin: 30px auto;
}

img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

input {
    color: #1c1c29;
    background-color:var(--input) ;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
    font-family:var(--family);
}

button {
    color: rgb(15, 16, 22);
    background-color: var(--send);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-size: 40px;
    font-family: var(--family);
}

button:hover { 
    cursor: pointer;
}

ul {
    text-transform: capitalize;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    max-width: 700px;
    text-transform: capitalize;
    font-size: 40px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color:var(--message_delete);
    cursor: pointer;
}

li{
    background-color: #7fff48;   
}
#input-field{
    text-transform: capitalize;
}